<nz-card nzTitle="title" [nzExtra]="extra">
  <ng-template #extra>
    <button
      nz-button
      (click)="service.switchEditMode()"
      nzType="primary"
      *ngIf="!(service.editMode$ | async); else editMode"
    >
      编辑
    </button>
    <ng-template #editMode>
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="12">
          <button nz-button (click)="service.save()" nzType="primary">
            保存
          </button>
        </div>
        <div nz-col nzSpan="12">
          <button nz-button (click)="service.switchViewMode()">取消</button>
        </div>
      </div>
    </ng-template>
  </ng-template>
  <app-list-page>

  </app-list-page>
</nz-card>
