<form [formGroup]="formGroup">
  <div nz-row nzGutter="8" formArrayName="configs">
    <div nz-col nzSpan="24" *ngFor="let item of configAray.controls; let index = index" [formGroupName]="index">
      <nz-form-item>
        <nz-form-label nzRequired>
          标题
        </nz-form-label>
        <nz-form-control [nzErrorTip]="titleErrorTip">
          <input nz-input formControlName="title">
          <ng-template #titleErrorTip let-control>
            <ng-container *ngIf="control.hasError('required')">
              标题必须填写！
            </ng-container>
          </ng-template>

        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
{{configAray.value}}
