<form [formGroup]="formGroup">
  <div nz-row nzGutter="8" formArrayName="configs">
    <div nz-col nzSpan="24">
      <a nz-dropdown [nzDropdownMenu]="menu">
        添加字段
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="addField('text')">文本</li>
          <li nz-menu-item (click)="addField('number')">数字</li>
          <li nz-menu-item (click)="addField('date')">日期</li>
          <li nz-menu-item (click)="addField('url')">Url</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <div
      nz-col
      nzSpan="24"
      *ngFor="let item of configAray.controls; let index = index"
      [formGroupName]="index"
    >
      <nz-form-item>
        <nz-form-label nzRequired> 标题 </nz-form-label>
        <nz-form-control [nzErrorTip]="titleErrorTip">
          <input nz-input formControlName="title" />
          <ng-template #titleErrorTip let-control>
            <ng-container *ngIf="control.hasError('required')">
              标题必须填写！
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
{{ configAray.value }}
